<ion-header>
  <ion-toolbar>
    <ion-title>CONVERTER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        AMOUNT
      </ion-card-subtitle>
      <ion-card-title>
        <ion-input type="number" [(ngModel)]="currency.amount" (ionChange)="onFieldChange()"></ion-input>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-select interface="popover" placeholder="Currency" [(ngModel)]="currency.from" (ionChange)="onFieldChange()">
              <ion-select-option *ngFor="let item of symbols | keyvalue" value="{{item.key}}"> {{ item.key }} </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col id="to-col">
            TO
          </ion-col>
          <ion-col>
            <ion-select interface="popover" placeholder="Currency" [(ngModel)]="currency.to" (ionChange)="onFieldChange()">
              <ion-select-option *ngFor="let item of symbols | keyvalue"  value="{{item.key}}"> {{ item.key }} </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>

    <ion-card-header *ngIf="result != 0">
      <ion-card-subtitle>
        CONVERTED AMOUNT
      </ion-card-subtitle>
      <ion-card-title>
        {{ result | number }}
      </ion-card-title>
    </ion-card-header>

  </ion-card>
  
</ion-content>
